body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#toc {
    background-color:gainsboro;
     padding: 0px;
     margin: 50px;
     margin-top:10px;
     margin-left:20px;
     margin-right:800px
}

#begin {
    padding: 1px;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto
}

#text {
    display: inline-block;
}

#moreText {
    padding:20px    
}

#image1 {
    padding:10px;
}

#header {
    padding:20px;
    margin-top:50px;
    padding-bottom:5px;
}

#photo {
    margin-left:50px
}

#athens {
    margin-left:80px
}
 
#helsinki {
    margin-left:80px
}

#melbourne {
    margin-left:50px
}

#rome {
    margin-right:100px
}

#tokio {
    margin-left: 80px
}

#headertext {
    text-align:center;
    margin:50px;
}


#firstolimpycs , #seckondolimpycs , #thirdolimpycs {
    margin-bottom: 50px
}

#berlin1936, #helsinki1952, #melbourne1956 {
    margin-bottom: 50px
}

#rome1960, #tokio1964, #mexico1968 {
    margin-bottom: 50px
}

#tokio1964 {
    margin-left:90px
}

#mexico1968 {
    margin-right:7px
}

#munich1972photo {
    margin-left: 40px
}
