@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div>

            <h1>Летни олимпийски игри Берлин 1936</h1>

            <img src="~/Fotos/Хитлер-Берлин-1936.jpg" />


            БЕРЛИН 1936:Хитлер вече е на власт по време на тази олимпияда.<br /><br /><br />Българската делегация заминава за Берлин със специален влак в състав от 94 души, от които само 23-ма са състезатели.<br /><br /><br />Най-добре се класира Христо Малакчиев - десети във всестранната езда.Олимпийските игри са прекратени за 12 години,заради Втората световна война.<br /><br /><br />
            БЕРЛИН 1936

            Игрите на Адолф Хитлер<br /><br /><br />

            Домакин на единадесетите летни олимпийски игри е Берлин. Състезанията в Германия са от 1 до 16 август 1936 година. <br /><br />Берлин печели домакинството в конкуренцията на Барселона. На власт в Германия са нацистите, като във възможността да организират олимипйски игри виждат отлична възможност за разпространяване на идеите им и придобиване на популярност.<br /><br /> Тогавашният президент на МОК Байе-Латур прави невероятни усилия, за да запази духа на олимпизма.<br /><br /><br />

            Той настоява и веднага след това са свалени нацистките и антиеврейските лозунги. Това е първата олимпиада, на която е въведена церемонията по внасяне на олимпийския огън.<br /> В Игрите участват състезатели от 49 страни, като стартират 3 963 състезатели (331 жени и 3632 мъже) в 129 дисциплини в 19 вида спорт. България е представена от делегация от 94 души, като 23-ма са спортисти. Отново оставаме без медал, като най-добре се представя Христо Малакчиев, който завършва десети във всестранната езда.<br /><br /><br />

            Най-много медали печелят домакините, но доминацията им не е пълна, поради наличието на спортисти като Джеси Оуенс, който печели 4 златни медала. Антифашистите в Европа смятат да проведат като протест нова алтернативна олимпиада в Барселона. Това така и не се случва поради избухването на испанската гражданска война. Любимият режисьор на Хитлер - Лени Рийфенщал е избран за режисьор на филм за олимпиадата.<br /><br /><br />

            ВАЖНИ МОМЕНТИ<br /><br />

            *Адолф Хитлер открито показва недоволството си от постиженията на американските цветнокожи атлети - Джеси Оуенс и Корнелиус Джонсън.
            *На финала на едно от състезанията по колоездене германецът Тони Меркенс попречва на холандеца Ари Ван Вилет да завърши преди него.<br /><br /> Вместо дискфалификация той е глобен с 100 марки и запазва златния си медал.<br /><br />
            *Холандецът Ри Мастенброк печели 3 златни медала в плуването.<br /><br />
            *Американцкият отбор по гребане от вашингтонския университет побеждава германският тим и печели златото. Надпреварата е била наблюдавана от Адолф Хитлер.<br /><br />
            *Това е първата олимпиада, която е излъчвана пряко по телевизията.<br /><br />
            *Дебют правят спортовете баскетбол и хандбал. Хандбалът се появява отново в програмата през 1972.<br /><br />
            *Германските гимнастици Конрад Фрей и Алфред Шварцман печелят по три златни медала.
            *Япония печели два медала в маратона (златен и бронзов).<br /><br />
            *На четвъртфинала на турнира по футбол Перу побеждава Австрия с 4:2, но МОК решава мачът да се преиграе поради неспазените размери на игрището. В преиграването Австрия печели, а перуанското правителство настоява страната да бойкотира игрите.<br /><br />
            *Химнът на Китай е избран за най-добър химн на олимпиадата.<br /><br />
            *На финала на турнира по баскетбол САЩ побеждава Канада с рекордно ниския резултат от 19:8. Причината за това е, че мача е проведен на открит мръсен терен в дъждовно време. Срещата е наблюдавана от около 1000 прави зрители.<br /><br />
            *Индия печели златото в хокея на трева за пореден път. На финала индийците побеждават Германия с 8:1.<br /><br />
            *Националният отбор на Италия печели футболния турнир.<br /><br />

            <br /> <br /> <a href="http://localhost:62110/">Назад</a>
        </div>
</div>