@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<body class="body-content" id="homebody"> 
    <section>
        <h1>Летни Олимпийски Игри - Атина 1896</h1>
        <article class="row" id="row">    
            <br />  
            Първите летни олимпийски игри се провеждат в Атина, Гърция от 6 до 15 април 1896 г.

            Това са първите модерни олимпийски игри и първата олимпиада, след като римският император Теодосий I забранява олимпийските игри през 393 година.<br /><br />

            През 1894 година на конгрес в Сорбоната, организиран от Пиер дьо Кубертен, е създаден Международният олимпийски комитет (МОК), който определя за домакин на първата олимпиада град Атина. По онова време гърците нямат опит с организирането на такива мащабни събития и имат проблеми, но се справят навреме.<br /><br />

            <img src="~/Fotos/BASA-3K-7-422-5-1896_Summer_Olympics.jpg" />
            <div>Международният комитет на олимпийските игри.</div>
            <br /><br />

            В събитието участват рекорден брой спортисти за времето си, като в сравнение със следващите олимпийски игри е най-нисък. Най-важното състезание за гръцката общност е маратонът, който е спечелен от техния сънародник Спиридон Луис. Най-успешният състезател на олимпиадата е германският борец Карл Шуман.<br /><br />

            <img src="~/Fotos/BASA-3K-7-422-25-1896_Summer_Olympics.jpg" />
            <div>Фехтовка на олимпийските игри.</div>

            След игрите гръцката общност, заедно с краля Георгиос I, настояват игрите да останат завинаги в Гърция, но следващите игри са планирани да се проведат в Париж по повод ЕКСПО 1900. Олимпиадата не се завръща в Гърция до 2004 година. <br /><br /><br />         
              България взима участие още на първите модерни олимпийски игри в Атина през 1896 с един участник - гимнастикът <a href="https://bg.wikipedia.org/wiki/%D0%A8%D0%B0%D1%80%D0%BB_%D0%A8%D0%B0%D0%BC%D0%BF%D0%BE" target="_blank">Шарл Шампо.</a><br /><br /><br />

            <img src="~/Fotos/BASA-3K-7-422-4-1896_Summer_Olympics.jpg" />
            <div>Унгарският атлетически отбор. </div>
             В първата олимпиада в Атина 1896 участват едва 14 страни,сред които е и България.<br /><br />

             Идеята на организаторите на първите съвременни игри е била   състезанията да се състоят на древния стадион в Олимпия, но се отказали заради твърде скъпите възтановителни работи.Швейцарският учител по гимнастика Шарл Шампо представлява страната ни на възтановените олимпийски игри.За да изглежда съвсем по български,фамилията му придобива славянско звучене и е записана като Шампов.<br /><br />
             Шарл Шампо пристига в България с още 11 свой сънародници,за да въведе в българското училище европейските тенденции в заниманията със спорт.Разпределен е като учител в 1-ва софийска мъжка гимназия и е главатар на гимнастическото дружество "Юнак".<br /><br /><br />

            <img src="~/Fotos/BASA-3K-7-422-20-1896_Summer_Olympics.jpg" />
            <div>Унгарският атлетически отбор.</div>
           
            <br /> <br /> <a href="http://localhost:62110/">Назад</a>

        </article>
    </section>
</body>