@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div>
            <h1>Летни олимпийски игри Хелзинки 1952</h1>
            Годината е 1952. За домакин на петнадесетите по ред летни олимпийски игри е избрана столицата на Финландия – Хелзинки. Градът е щял да приеме игрите през 1940, но такива не се провеждат заради втората световна война.<br /><br /><br />

            <img src="~/Fotos/57904cbcedf8b.jpg" />
            Откриването на олимпиада е на 19 юли. 69 страни взимат участие в едно от най-важните спортни събития в света. Общо 4 925 спортисти (518 жени и 4 407 мъже) се състезават в 17 спорта.<br /><br />

            Хелзинки и до днес остава най-северният град, в който са се провеждали летните олимпийски игри. Най-голям брой световни рекорди са счупени именно през лятото на 52-ра година и това остава така до олимпиадата в Пекин през 2008 г. Тринадесет държави правят своя олимпийски дебют в Хелзинки 1952 г: Бахамските острови, Китай, Голд Коуст (сега Гана), Гватемала, Хонг Конг, Индонезия, Израел, Холандски Антили, Нигерия, Съветския съюз (СССР), Тайланд и Виетнам.<br /><br />

            Япония и Германия е позволено да изпратят свои спортисти, след забраната през 1948, заради тяхното подбудителство към Втората световна война.<br /><br />

            ХЕЛЗИНКИ 1952:Игрите са исторически за България (63 участници в осем спорта),тъй като в Хелзинки боксьорът Борис Георгиев спечелва първи медал за България - бронзов.Олимпийски дебют правят българските спортистки (леко атлетката Цветана Берковска и 8 гимнастички), като Цветана Станчева е шеста в шампионата на греда.Баскетболистите ни са седми.В класирането по националности България заема 40 място.<br /><br /><br />  
            <img src="~/Fotos/578fd3a00250e.jpg" />

            <br /> <br /> <a href="http://localhost:62110/">Назад</a>
        </div>
</div>