@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<h1 id="headertext">Олимпийски игри за България</h1>

<div id="firstolimpycs" class="row">
    <div id="" class="col-lg-4">
        <img  id="athens" src="~/Fotos/120px-Athens_1896_report_cover.jpg" />
        <p>България взима участие още на първите модерни олимпийски игри в Атина през 1896 с един ...<a class="btn btn-default" href="http://localhost:62110/Home/FirstOlimpics">Прочети &raquo;</a></p>
    </div>
        <div id="seckondolimpycs" class="col-lg-4">
            <img id="paris" src="~/Fotos/1924s_poster_b.jpg" />
            <p> ПАРИЖ 1924:За пръв път български спортисти се състезават на Олимпиада едва през 1924 година.На...<a class="btn btn-default" href="http://localhost:62110/Home/SecondOlimpycs">Прочети &raquo;</a></p>
        </div>

        <div class="col-lg-4">
            <img id="thirdolimpycs" src="~/Fotos/1186509_400_.jpg" />
            <p>АМСТЕРДАМ 1928:Българската група е от петима души- трима ездачи и двама фехтовачи.Главната...<a class="btn btn-default" href="http://localhost:62110/Home/ThirdOlimpycs">Прочети &raquo;</a></p>
        </div>
        <div id="berlin1936" class="col-lg-4">
            <img src="~/Fotos/1186506_400_.gif" />
            <p> БЕРЛИН 1936:Хитлер вече е на власт по време на тази олимпияда.Българската делегация ...<a class="btn btn-default" href="http://localhost:62110/Home/Berlin1936">Прочети &raquo;</a></p>
        </div>
        <div id="helsinki1952" class="col-lg-4">
            <img id="helsinki" src="~/Fotos/1186493_400_.gif" />
            <p>ХЕЛЗИНКИ 1952:Игрите са исторически за България (63 участници в осем спорта),тъй като в Хелзинки ...<a class="btn btn-default" href="http://localhost:62110/Home/Helsinki1952">Прочети &raquo;</a></p>
        </div>
        <div id="melbourne1956" class="col-lg-4">
            <img id="melbourne" src="~/Fotos/1186511_400_.gif" />
            <p>МЕЛБЪРН 1956: В Мелбърн България има своя първи олимпийски шампион-Никола Станчев в свободната...<br />  <a class="btn btn-default" href="http://localhost:62110/Home/Melbourne1956">Прочети &raquo;</a></p>
        </div>
        <div id="rome1960" class="col-lg-4">
            <img id="rome" src="~/Fotos/govorilnya-logoto-na-letni-olimpiyski-igri-prez-godinite-l.jpg" />
            <p>РИМ 1960:Атлети от общо 44 нации успяват да спечелят поне един медал,оставяйки други 39 без...<a class="btn btn-default" href="http://localhost:62110/Home/Rome1960">Прочети &raquo;</a></p>
        </div>
        <div id="tokio1964" class="col-lg-4">
            <img src="~/Fotos/imgres.png" />
            <p>ТОКИО 1964:В Токио шампиони стават борците Еню Велчев,Продан Гарджев и Боян Радев.Вицешампиони...<br /><a class="btn btn-default" href="http://localhost:62110/Home/Tokio1964">Прочети &raquo;</a></p>
        </div>
        <div id="mexico1968" class="col-lg-3">
            <img src="~/Fotos/8de6d4ef828f52a86a1ba7a2b91b06a4.jpeg" />
            <p>МЕКСИКО 1968:Боян Радев става първият българин дублирал олимпийската си титла.Шампион е и още борецът - Петър Киров.Вицешампиони са футболният тим и борците Еню Тодоров,Еню Вълчев и Осман Дуралиев.Бронзови медалисти...<br /><a class="btn btn-default" href="http://localhost:62110/Home/Mexico1968">Прочети &raquo;</a></p>
        </div>
        <div id="munich1972" class="col-lg-5">
            <img src="~/Fotos/23054.jpg" />
            <p>МЮНХЕН 1972:Българските спортисти се състезават в 1 спорта и печелят 6 златни медала - боксьорът Георги Костадинов,щангистите Нораир Нурикян...<br /><a class="btn btn-default" href="http://localhost:62110/Home/Munich1972">Прочети &raquo;</a></p>
        </div>
       <div id="monreal1976" class="col-lg-4">
           <img src="~/Fotos/1186516_400_.gif" />
           <p>МОНРЕАЛ 1976:Българите печелят 8 олимпийски титли чрез атлетката Иванка Христова,гребкините Светла...<br /><a class="btn btn-default" href="http://localhost:62110/Home/Monreal1976">Прочети &raquo;</a></p>
       </div>
</div>