@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div>
            <h1>Летни олимпийски игри Мелбърн 1956</h1>

            <img src="~/Fotos/20120713.phmdwjptjn.jpg" />

            *Шестнадесетите летни олимпийски игри се провеждат в Мелбърн, Австралия от 22 ноември до 8 декември, 1956 г. Състезанията по конен спорт се провеждат в Стокхолм, Швеция поради наложената карантина в Австралия. Така това стават единствените олимпийски игри, провели се на 2 континента. Другите градове, кандидатирали се за домакинство, са Мексико, Буенос Айрес, Монреал и още шест американски града.<br /><br />

            *В началото повечето членове на МОК не одобряват кандидатурата на Мелбърн поради географското положение на града. Игрите е трябвало да се проведат по време на австралийското лято, но в същото време в Европа и САЩ е зима. Опасенията на олимпийското движение са били, че атлетите от другите континенти трудно биха могли да се климатизират.<br /><br />

            *Появилите се финансови затруднения в Австралия принуждават президента на МОК да потърси заместващ град. Като такъв той се спира на Рим, но до април 1955 все още не е сигурно дали ще има игри в Мелбърн. Въпреки, че градът изостава със строежите, в началото на 1956 е установено, че Мелбърн е готов да приеме олимпиадата.<br /><br />

            *Поради суецката криза Египет, Ирак и Ливан отказват участие. По същото време Испания, Холандия и Швейцария обявяват, че няма да вземат участие поради намесата на СССР в унгарската революция. Две седмици преди откриването Китай също бойкотира игрите, тъй като на Тайван е позволено да участва като самостоятелна страна.<br /><br />

            *Мелбърн печели домакинството само с 1 глас разлика от Буенос Айрес.<br /><br />

            *Австралия тотално доминира в плуването.<br /><br />

            *Финалът на турнира по водна топка между Унгария и СССР става легендарен и се смята за най-прочутата среща в този спорт. Мачът става известен като „Мачът с кръв във водата“. Унгария побеждава СССР с 4-0, но преди края един от състезателите на Унгария е принуден да напусне басейна поради кръвта, която се стича от рана под лявото му око. По време на срещата той е ударен от противников играч.<br /><br />

            *Атлетите от Западна и Източна Германия участват в обединен отбор.<br /><br />

            *Американската атлетка Бети Кутберт печели прякора си - „златното момиче“, след като печели 3 златни медала.<br /><br />

            *Австралийката Мъри Роуз печели 3 златни медала в плуването.<br /><br />

            *Съветският бегач Владимир Кутс печели състезанията на 5000 и 10000 метра гладко бягане.<br /><br />

            *Вдъхновени от писмото на австралийскиският тийнейджър Джон Уинг организаторите позволяват на спортистите от всички страни да се движат заедно по време на церемонията по закриването. Идеята е всички спортисти да бъдат едно цяло, като един отбор.<br /><br />

            *Унгарецът Ласло Пап печели вторият си от общо три златни медала от турнира по бокс.<br /><br />

            *САЩ доминира в леката атлетика.<br /><br />

            *Игрите стават известни като „Приятелските игри“.<br /><br />

            *Най-успешен спортист става унгарската гимнастичка Агнес Келети, която печели 4 златни медала и 2 сребърни.<br /><br />

            *Актьорът и плувец Бъд Спенсър взима за втори път участие на олимпиада. По това време той все още не е известен.<br /><br />

            *За първи път СССР печели най-голям брой медали.<br /><br />

            МЕЛБЪРН 1956: В Мелбърн България има своя първи олимпийски шампион-Никола Станчев в свободната борба.<br />Българите се окичат с оше три сребърни отличия-борците Юсеин Мехмедов,Димитър Добрев и Петко Сираков, и едно бронзово - олимпийския отбор на България по футбол.Поради карантина за влизащите на този континент животни,турнирът по конен спорт се провежда в Стокхолм,където нашият ездач Рашко Фратев е пети във всестранната езда.В общото класиране България заема 19 място.<br /><br /><br />

            <br /> <br /> <a href="http://localhost:62110/">Назад</a>
        </div>
</div>