@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div>

            <img src="~/Fotos/1280px-Olympic_Summer_Games_1968_Opening.jpg" /><br /><br />

            Решение да се проведе на XIX Олимпийските игри в Мексико, на Международния олимпийски комитет, приета на 60-ата си сесия в Баден-Баден, в Октомври 1963.Участниците имаха четири.В допълнение към Мексико Сити, заглавието на капитала на XIX олимпиада доминираха Детройт, Лион и Буенос Айрес.Мексиканската столица спечели 30 гласа.<br /><br />



            В XIX Олимпийските игри бяха първият жребий.Първите игри са проведени в Латинска Америка.За първи път е избран планински район.Много преди началото на конкурса отиде в Мексико "спортни разузнавачи" от различни страни, най-вече на треньорите и лекарите, които искаха да видят как необичайни условия повлияе на здравето на спортистите и резултати на конкуренцията.Мексико Сити се намира на надморска височина от 2240 метър над морското равнище, а това не може да повлияе на баланса на силите.<br /><br />

            В XIX олимпийски игри бе намерено огромно количество най-високите постижения.Това бе съобщено, 78 олимпийски рекорди, а 28 от тях са били по-високи от света.Най-приятните изненади дадоха своите фенове спортисти.Те открили 30 олимпийски рекорди, 14 от които са били по-добре от най-високите постижения в света.Резултатът в женските 400 м с препятствия подобрена веднъж втори.Шест поле vaulter за преодоляване на височината на 17м.Отлични резултати показват също, плувци и щангисти.Първо, създаден 23 олимпийски рекорди, а вторият - 18. Отличните резултати, постигнати стрели и велосипедисти.<br /><br />

            МЕКСИКО 1968:Боян Радев става първият българин дублирал олимпийската си титла.Шампион е и още борецът - Петър Киров.Вицешампиони са футболният тим и борците Еню Тодоров,Еню Вълчев и Осман Дуралиев.Бронзови медалисти са боксьорите Иван Михайлов и Георги Станков,както и борецът Продан Гаджев.В крайното класиране България заема 18 място.<br /><br /><br />

            <br /> <br /> <a href="http://localhost:62110/">Назад</a>
        </div>
</div>