@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div>

            <h1>Летни олимпийски игри Рим 1960</h1><br /><br />

            <img src="~/Fotos/0d8f22205a7eb1c699f55f1bffc60fca.jpeg" />

            <br /><br /><br />
            XVII летни олимпийски игри се провеждат в Рим, Италия от 25 август до 11 септември 1960 г. Другите градове кандидатирали се за домакини са Лозана, Детройт, Будапеща, Брюксел, Мексико и Токио.

            РИМ 1960:Атлети от общо 44 нации успяват да спечелят поне един медал,оставяйки други 39 без отличие.СССР печелят най-много(103),златни-43,сребърни-29 и бронзови 31.<br /><br />Дебют на Игрите правят сборният отбор на Британските Западни Индии,Мароко,Сан Марино,Судан и Тунис.Суринам също участва за пръв път,но в последния момент единствения им представител се отказва.Источна и Западна Германия участват като Сборен олимпийски отбор на Германия.<br /><br />За първи и единствен път участват Британските Западни Индии,които са съставени от Ямайка,Барбадос и Тринидат и Тобаго.Република Китай,Етиопия,Гана,Ирак,Мароко и Сингапур печелят печелят първите си олимпийски отличия.България отново има шампион-борецът Димитър Добрев.Борците носят още медали:Крали Бимбалов,Неждет Залев и Станчо Колев-сребърни,Динко Петров и Еню - бронзови.Гимнастикът Велик Капсъзов печели бронз на халки.България печели 7 медала и се класира на 15 място в общото класиране по медали от Рим 1960 година<br /><br /><br />

            Фехтовачът Аладар Геревич от Унгария печели шестият си последователен златен медал.<br /><br />
            Американката Вилма Рудолф, която в миналото е страдала от полиомиелит спечелва три златни медала в леката атлетика.<br /><br />
            Етиопецът Абебе Бикила печели маратона и става първият африканец олимпийски шампион.<br /><br />
            Касиус Клей, който по-късно става Мохамед Али печели злато в бокса.<br /><br />
            Мъжкият гимнастически отбор на Япония печели един от петте си поредни златни медала. Успешната им серия завършва на игрите през 1976 в Монреал.<br /><br />
            РЮА участва на олимпиада за последен път под режима на апартейд. След тази олимпиада им е забранено да участват. Страната се завръща през 1992 когато режима на управление се променя.<br /><br />
            Шведският гребец Герт Фредриксон печели шестият си златен медал.<br /><br />
            Датският колоездач Кнуд Енемарк колабира по време на състезание поради въздействието на амфетамини и по късно умира в болницата на Рим. Това е вторият смъртен случай по време на олимпиада. На олимпиадата през 1912 в Стокхолм умира маратонецът Франсиско Лазаро.<br /><br />
            Австралийският атлет Хърб Елиът печели състезанието на 1500 метра гладко бягане като тотално доминира над съперниците си.<br /><br />
            Американецът Рафър Джонсън побеждава най-големият си съперник и приятел Янг Чуан-куанг в десетобоя.<br /><br />
            Американецът Питър Камехо, който през 2004 се кандидатира за вице-президент участва във ветроходството за Венецуела.<br /><br />
            Армин Хари поставя нов световен рекорд на 100 метра гладко бягане - 10.2 секунди.<br /><br />
            Югославия побеждава Дания с 3-1 на финала на футболния турнир.<br /><br />
            За пръв път Индия не успява да спечели златото в хокея. Страната е надвита от Пакистан. Преди това поражение Индия има 6 златни медала от предишни олимпиади.<br /><br />

            <br /> <br /> <a href="http://localhost:62110/">Назад</a>
        </div>
</div>