@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <article>
            <h1>Летни олимпийски игри Париж 1924</h1>
            <img src="~/Fotos/7aaf9a2af8a8fabf58e2deebe31e025d.jpeg" />

            VIII летни олимпийски игри се провеждат в Париж, Франция от 4 май до 27 юли 1924 г. Другите градове кандидатирали се за домакини са Рио де Жанейро, Берлин, Амстердам, Лос Анджелис и Рим.
            За подготовката на игрите са похарчени 10 милиона френски франка.
            Това е последната олимпиада организирана под ръководството на Пиер дьо Кубертен.

            ПАРИЖ 1924:За пръв път български спортисти се състезават на Олимпиада едва през 1924 година.<br />На олимпиадата в Антерпен,Белгия,България не е допусната до участие като съюзник на Германия в Първата световна война.<br /><br />В Париж участваме в състезания по футбол,лека атлетика и колоездене с 24-ма спортисти,между които поручик Крум Лекарски и ротмистър Владимир Стойчев в турнира по конен спорт.<br /><br /><br />

            Церемониите по откриване и закриване, както и някои спортни състезания се провеждат на стадион Olympique Yves-du-Manoir, който има капацитет от 45 000 души.<br /><br />
            Финландците доминират на дългите разстояния в бягането, а британците и американците в по-късите дистанции. Финландецът Пааво Нурми печели състезанията на 1500м, 5000м. Два от медалите си печели в разстояние от един час.<br /><br />
            Британецът Харолд Ейбрахамс печели бягането на 100 метра, а Ерик Лидел на 400м. Техните истории са показани във филма Chariots of Fire<br /><br />
            Дистанцията в маратона е променена на 42 км.
            Джони Вайсмюлер печели три златни медала в плуването и един във водната топка.<br /><br />
            Французинът Роже Дюкре печели 5 медала във фехтовката. Три от тях са златни.<br /><br />
            Германия не взима участие поради скоро завършилата Първа световна война.<br /><br />
            Тенисът на корт участва за последен път преди да бъде възстановен след повече от 60 години в Сеул.


            <br /> <br /> <a href="http://localhost:62110/">Назад</a>
            <div>

            </div>

        </article>
    </div>