@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">

    <h1>Летни олимпийски игри Амстердам 1928</h1>
        <div>
            IX летни олимпийски игри се провеждат в Амстердам, Холандия от 17 май до 12 август, 1928 г. Амстердам е кандидат за домакин също през 1920 и 1924, но не е одобрен. Единственият опонент на Амстердам през 1928 е Лос Анджелис.<br /><br />
            Тук МОК приема две важни решения — в годините на Олимпийските игри да няма световни първенства, а самите игри да не продължават повече от 15 дни. По късно и двете решения отпадат.<br /><br />
            България се представя само с петима спортиста — трима ездачи и двама фехтовачи. Причината за това е голямото заметресение в страната през април. Един от ездачите - Крум Лекарски пада от коня, счупва си таза, но въпреки това пресича финала в безсъзнание.<br /><br />

            АМСТЕРДАМ 1928:Българската група е от петима души- трима ездачи и двама фехтовачи.<br /><br />Главната причина за малкото ни участници е катастрофалното заметресение в Чирпан през април и редуцираните средства по тази причина.На тази олимпиада участват и двамата братя Лекарски - Крум в конния спорт, а по-малкият Асен - във фехтовката.След падане при едно от препядствията конят на Крум Лекарски,спъвайки се,ляга върху него и счупва тазова кост.Ездачът успява да стане и отказва всякаква помощ (според тогавашния правилник това се наказва с декласиране).Качвайки се пак на коня и
            продължавайки да прескача препядствията, които му остават да преодолее,Лекарски пристига на финала и едва след това изгубва съзнание.<br /><br /><br />

            <img src="~/Fotos/57a0d740f708b67a3b18552373ad8298.jpeg" />

            <br /> <br /> <a href="http://localhost:62110/">Назад</a>

        </div>
</div>