@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div>

            <h1>Летни олимпийски игри Рим 1964</h1>
            <br /><br />

            <img src="~/Fotos/81fa996e737a6c06bd0e44e4ccfff886.jpeg" />
            <br />

            XVIII летни олимпийски игри се провеждат в Токио, Япония от 10 до 24 октомври 1964 г. За първи път се провеждат в Азия.<br /><br />
            Игрите се организират в Япония 24 години, след като Олимпиадата през 1940 г. е провалена поради Втората световна война.<br /><br />
            Това е първата олимпиада, на която е забранено да участва ЮАР заради режима на апартейд, който страната води. Германия и Корея участват с общи отбори въпреки разделението на страните (ГДР и ФРГ; КНДР и Република Корея).<br /><br />
            Церемонията по откриването се провежда на 10 октомври 1964 г. Йошинори Сакаи, който внася олимпийския огън, е студент, роден на 6 август в Хирошима - деня, в който пада атомната бомба. Игрите са открити от император Хирохито. Клетвата на атлетите е казана от състезателката по художествена гимнастика Такаши Оно. По време на откриването 5 самолета прелитат над стадиона и оставят следи с цветовете на 5-те кръга на олимпийското движение.<br /><br />
            На Олимпиадата се провеждат състезания в 163 дисциплини от 21 спорт. България печели 10 медала, от които 3 златни.<br /><br />
            Отборът по вдигане на тежести се състои от 5 щангисти, без треньор и с недостатъчно добра екипировка.<br /><br />

            Дебют правят спортовете - джудо за мъже и волейбол за жени и мъже. Волейболът е първият отборен спорт за жени в олимпийската програма. Япония печели 3 златни медала в джудото.<br /><br />
            За последен път бяганията в леката атлетика се провеждат на писта от пепел. В състезанията по овчарски скок за първи път се използва прът от стъклопласт. На тези олимпийски игри за последен път времето се отчита ръчно. Абебе Бикила печели за втори пореден път маратона, като по този начин става първият атлет постигнал това.<br /><br />
            По време на игрите са поставени 77 олимпийски и 33 световни рекорда. 71 от олимпийските и 11 от световните рекорди са в състезания по лека атлетика.<br /><br />
            Били Милс прекосява финалната линия в маратона
            Най-добрият боксьор на Игрите е Валерий Попечанко, награден с купа „Паркър“. Американецът Доналд Шоландер печели 4 златни медала в плуването (на 100 метра с олимпийски рекорд, на 400 метра със световен рекорд и в щафетите 4 х 100 метра и 4 х 200 метра свободен стил).<br /><br /> Друга звезда на плуването е 16-годишната Галина Прозуменшчикова. Даун Фрейзър печели за трети пореден път златен медал на 100 метра свободен стил с олимпийски рекорд.<br /><br />
            Питър Снел от Нова Зеландия става шампион на 800 и 1500 метра гладко бягане. Американският атлет Били Милс сътворява най-голямата изненада като печели златен медал на 10 000 метра. Той е единственият американец шампион в тази дисциплина. <br /><br />В хокея на трева Индия се завръща като победител, побеждавайки отбора на Пакистан. <br /><br />В гимнастиката почти всички медали са взети от Лариса Латинина (СССР) и Вера Чеславска (Чехословакия).

            ТОКИО 1964: В Токио шампиони стават борците Еню Велчев,Продан Гарджев и Боян Радев.<br />Вицешампиони са стрелецът Величко Величков и борците Ангел Керезов,Кирил Петков,Станчо Колев,Лютви Ахмедов.<br />Бронзови медали носят Александър Николов(бокс) и Саид Мустафов(борба).<br />В класирането по националности, България заема 11 място.<br /><br /><br />

            <br /> <br /> <a href="http://localhost:62110/">Назад</a>

        </div>
</div>