    @{
    ViewBag.Title = "About";
}

<div id="toc" class="toc">
    <div id="toctitle">
        <h2>Съдържание</h2>
    </div>
    <ul>
        <li class="section">
            <a href="#medals">
                <span class="number">1</span>
                <span class="text">Медали по игри</span>
            </a>
            <ul>
                <li>
                    <a href="#summergames">
                        <span class="number">1.1</span>
                        <span class="text">Летни олимпийски игри</span>
                    </a>
                </li>
                <li>
                    <a href="#wintergames">
                        <span class="number">1.2</span>
                        <span class="text">Зимни олимпийски игри</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="section">
            <a href="#sportmedals">
                <span class="number">2</span>
                <span class="text">Медали по спортове</span>
            </a>
            <ul>
                <li>
                    <a href="#summermedalgames">
                        <span class="number">2.1</span>
                        <span class="text">Летни олимпийски спортове</span>
                    </a>
                </li>
                <li>
                    <a href="#wintersports">
                        <span class="number">2.2</span>
                        <span class="text">Зимни олимпийски спортове</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#bgmedalists">
                <span class="number">3</span>
                <span class="text">Български олимпийски медалисти</span>
            </a> 
        </li>
    </ul>
</div>


<div id="text"> 
    <h1 id="medals">Медали по игри</h1>

    <h3 id="summergames">Летни олипийски игри</h3>
    <a href="#toc">
        <div id="begin" class="text">Начало</div>   
    </a>
    <img src="~/Fotos/bg.jpg" />

  <p id="moreText">Москва 1980: <a href="https://bg.wikipedia.org/wiki/%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F" target="_blank">БЪЛГАРИЯ</a> се нарежда на трето място в крайното класиране по медали.Това е и най успешната олимпияда в истоята на спорта в нашата страна.През 1932 година в Лос Анджелис, 1948 в Лондон и 1984 отново в Лос Анджелис България не взима учатие, поради политически причини.Страната ни завоюва обюо 217 медала,като 51 от тях са златни, 86 сребърни и 80 бронзови.</p>
</div>

<h3 id="wintergames">Зимни олимпийски игри</h3>
<a href="#toc">
    <div id="begin" class="text">Начало</div>
</a>
<img src="~/Fotos/Zimni olimpiiski igri.jpg" />

<p id="moreText">През всичките си участия на зимни олимпийски игри, България има общо 6 медала, един от който е златен, 2 сребърни и 3 бронзови.</p>


<h1 id="sportmedals">Медали по спортове</h1>
<h3 id="summermedalgames">Летни олипийски игри</h3>
<a href="#toc">
    <div id="begin" class="text">Начало</div>
</a>

<img src="~/Fotos/Медали по спортове.jpg" />

<p id="moreText">Борбата, вдигането на тежести и леката атлетика са сред най-силните за страната съответно с общо 68, 36 и 19 медала.Други популярни спортове са и бокса, гимнастиката, спортната стрелба и др.</p>

<h3 id="wintersports">Зимни олимпийски игри</h3>
<a href="#toc">
    <div id="begin" class="text">Начало</div>
</a>

<img src="~/Fotos/sports.jpg" />

<p id="moreText">Всички медали,който България е завоювала са 6 - 1 златен , 2 сребърни и 3 бронзови</p>

<h1 id="bgmedalists">Български олимпийски медалисти</h1>

<p>Сега наяколко думи и за българските спортисти, който не веднъж са радвали родната публика. Някой от тях не са олимпийски шампиони, но въпреки това те са оставяли трайна следа в българската спортна памет, със свойте участия на световни и европейски първенства.</p>

<img src="~/Fotos/Йордан-Йовчев.jpg" />

<p id="moreText"><a href="https://bg.wikipedia.org/wiki/%D0%99%D0%BE%D1%80%D0%B4%D0%B0%D0%BD_%D0%99%D0%BE%D0%B2%D1%87%D0%B5%D0%B2" target="_blank">Йордан Йовчев</a> е български гимнастик. В кариерата си има четири олимпийски медала – един сребърен и три бронзови. Два пъти е двоен световен шампион на земя и халки на първенствата в Гент и Анахайм през 2001 и 2003, и двоен световен вицешампион в Дебрецен през 2002 г.На олимпийските игри в Атина Йовчев спечелва сребърен медал, като незаслужено златният му е отнет. Съдиите присъждат златното отличие на гръка Димостенис Тамбакос, въпреки че Йовчев се представя по-добре от представителя на домакините – (такова поведение е характерно за всички съдийски колегии и се състои в толериране на представителите на домакините на спортните прояви по цял свят)</p>

<div class="row" id="row">
    <div class="col-lg-5" id="image">
        <img src="~/Fotos/stanka-zlateva.jpg" />
    </div>
    <div class="col-lg-5" id="stanka">
        <p><a href="https://bg.wikipedia.org/wiki/%D0%A1%D1%82%D0%B0%D0%BD%D0%BA%D0%B0_%D0%97%D0%BB%D0%B0%D1%82%D0%B5%D0%B2%D0%B0" target="_blank">Станка Златева Христова</a> е бивша българска състезателка по борба. Носителка на два сребърни олимпийски медала, петкратна световна и шесткратна европейска шампионка. Първата българка, участничка на олимпийските игри в женската борба (2004). Първата българска световна шампионка по борба (2006). Победител е във Вип Брадър 2013 г. Три пъти спортист номер едно на България.    </p>
    </div>
</div>

<h4 id="header"></h4>
<div class="row" id="row">
    <div class="col-lg-6" id="image1">
        <img src="~/Fotos/rumi_obb_1.jpg" />
    </div>
    <div class="row" id="row">
        <p><a href="https://bg.wikipedia.org/wiki/%D0%A0%D1%83%D0%BC%D1%8F%D0%BD%D0%B0_%D0%9D%D0%B5%D0%B9%D0%BA%D0%BE%D0%B2%D0%B0" target="_blank">Румяна Нейкова</a> е българска гребкиня и олимпийска шампионка по скиф.Участва на летните олимпийски игри в Барселона и летните олимпийски игри в Атланта. По-късно се ориентира към скифа и печели първия си медал на световното първенство-бронзов (1999).<br /> На летните олимпийски игри в Сидни остава втора, след беларускинята Екатерина Карстен, като победителката е била определена едва след фото-финиш.
Неин съпруг е известния български състезател и треньор по гребане Свилен Нейков. През 2001 г. се ражда големият ѝ син Емил, а през 2006 г. и малкият – Марио.<br />
През 2002 г. и 2003 г. печели златни медали от световните първенства в Севиля и Милано и стана единствената българка с два златни медала от световни първенства по гребане.<br> На първенството от 2002 поставя нов световен рекорд на скиф от 7:07 минути. На олимпийските игри в Атина остава трета, след германката Катрин Рутшов-Стомпоровски и Екатерина Карстен.</p>
    </div>
</div>

<h1 id="header"></h1>
<div>
    <img src="~/Fotos/660_5bbb69cb0f827290e3492c61a757ecd7.jpg" />
</div>
<div class="row" id="row">
    <p>
        <a href="https://bg.wikipedia.org/wiki/%D0%9C%D0%B0%D1%80%D0%B8%D1%8F_%D0%93%D1%80%D0%BE%D0%B7%D0%B4%D0%B5%D0%B2%D0%B0" target="_blank">Мария Здравкова Гроздева-Григорова</a> e българска състезателка по спортна стрелба.<br /> треньор е Валентин Андреев. На 14 години покрива норматива за „Майстор на спорта“. Завършва Националната спортна академия, със специалност спортна стрелба.
    </p>
</div>

<h1 id="header"></h1>
<div>
    <img src="~/Fotos/ekaterina_dafovska_001.jpg" />
</div>
<div class="row" id="row">
    <p>
        <a href="https://bg.wikipedia.org/wiki/%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B0_%D0%94%D0%B0%D1%84%D0%BE%D0%B2%D1%81%D0%BA%D0%B0" target="_blank">Екатерина Дафовска</a> е най-успялата българска биатлонистка. В кариерата си има олимпийска титла, европейска титла, както и два бронзови медала от световни първенства.<br />

Печели първия и единствен златен медал за България от Зимни олимпийски игри, в Нагано на 9-ти февруари 1998 г. в дисциплината 15 километра индивидуално. До този момент България има само бронзово отличие, спечелено от Иван Лебанов на провелите се в Лейк Плесид, Зимни олимпийски игри от 1980 г.

Дафовска печели и златен медал в индивидуалната дисциплина на 15 километра за жени на Европейското първенство по биатлон през 2004 г. в Минск. Тогава 28-годишната чепеларка прави само две грешки в стрелбата и заема първо място с общо време 46:14,7 минути. Така към олимпийската титла от Нагано прибавя и европейската в тази дисциплина. Неин личен треньор е Боран Хаджиев, а в националния отбор Николай Болчев. През март 2007 г. обявява, че прекратява състезателната си кариера.
    </p>
</div>

<p id="moreText">Разбира се това са само една малка част от всички олимпийски медалисти за България.Имена като: Таня Богомилова,Гълъбин Боевски,Йорданка Донкова,Таню Киряков,Атанас Комшев,Стефка Костадинова,Тереза Маринова,Янко Русев са незабравима част от българската спорта памет.</p>

