@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
       <div>

           <h1>Летни олимпийски игри Монреал 1976</h1><br /><br />

           <img src="~/Fotos/20120716.laklhoegcy.jpg" />
           <br /><br />

           *XXI летни олимпийски игри се провеждат в Монреал, Канада от 17 юли до 1 август 1976 година.<br /><br />

           *Монреал е избран за домакин на Олимпиадата на 12 май 1970 година на Сесията на МОК в Амстердам. Другите градове, кандидатирали се за домакини, са Москва и Лос Анжелис.<br /><br />

           *Участват 6028 спортисти (4781 мъже и 1247 жени) в 198 състезания в общо 21 спорта.<br /><br />

           *Игрите са организирани с огромен финансов дефицит. Олимпиадата е тотална финансова катастрофа, след като градът трябва да връща дългове в продължение на 30 години. Игрите са открити от кралица Елизабет II (като държавен глава на Канада). Дъщеря й – принцеса Ана, се състезава за отбора на Великобритания по езда.<br /><br />

           *В Монреал изгрява звездата на румънската гимнастичка Надя Команечи. Само на 14 години тя печели три     златни медала. Та получава перфектната оценка 10,00, но циферблатът може да показва единствено трицифрени оценки. Така на таблото вместо 10,00 светва оценка 1,00.<br /><br />

           *Тара Асо е член на японския тим по стрелба. 32 години по-късно той ще бъде избран за премиер на Япония.<br /><br />

           *На Олимпиадата дебютират спортовете – баскетбол, хандбал и гребане при жените. Хокей на трева се играе за първи път на изкуствен терен.<br /><br />

           *Със своите 53 500 души население Бермуда стана най-слабо населената страна, която печели медал на лятна Олимпиада. Кларънс Хил взима бронзов медал в бокса.<br /><br />

           МОНРЕАЛ 1976:Българите печелят 8 олимпийски титли чрез атлетката Иванка Христова,гребкините Светла Оцетова,Здравка Йорданова и Сийка Келбечева,Стоянка Груйчева,щангистите Нораир Нурикян и Йордан Митков,борецът Хасан Исаев.<br />Вицешампиони са борците Камен Горанов,Александър Томов и Стоян Николов,щангистите Георги Тодоров,Трендафил Стойчев и Кръстю Семерджиев,атлетките Мария Вергова и Николина Щерева,женската четворка по гребане с кърмчия.<br />Бронзови медалисти са боксьорът Владимир Колев,борците Стефан Ангелов,Иван Колев и Димо Костов, щангистът Атанас Шопов,лекоатлетката Йорданка Благоева, и баскетболистките.<br />В класирането по националности България заема 7 място с 22 медала.<br /><br /><br />

           <br /> <br /> <a href="http://localhost:62110/">Назад</a>
    </div>
</div>