@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div>Летните олимпийски игри през 1980 г. се провеждат в Москва, СССР от 19 юли до 3 август 1980 г.

Поради нахлуването на съветските войски в Афганистан в края на 1979 г. някои западни страни обявяват бойкот на олимпиадата в Москва.

Символ на игрите е руското мече Миша.На олимпийските игри в Москва България записва най-доброто си представяне на олимпиада и един от най-големите спортни успехи в историята си. Страната печели общо 41 медала (8 златни, 16 сребърни, 17 бронзови) и завършва на 3 място по медали.

Шампиони са: гимнастикът Стоян Делчев, кануистът Любомир Любенов, боксьорът Петър Лесов, щангистите Янко Русев и Асен Златев, борците Валентин Райчев, Исмаил Абилов и Георги Райков.

Вицешампиони са: борците Александър Томов, Михо Дуков, Иван Янков и Славчо Червенков, щангистите Стефан Димитров, Благой Благоев, Румен Александров и Валентин Христов, атлетката Мария Вергова, джудистът Димитър Запрянов, Любомир Любенов и Ваня Гешева (кану-каяк), конниците Георги Гаджев, Петър Мандаджиев, Светослав Иванов, гребкините Искра Велинова, Рита Тодорова, Марийка Модева, Гинка Гюрова, Надя Филипова (4 с/к), баскетбол (Жени) и волейбол (мъже).</div>