@{
    ViewBag.Title = "България на Олимпийските игри";
}
        
@model List<Bulgaria_at_the_Olympics.Models.Post>

<div class="row">
        <div>

            <h1>Летни олимпийски игри Мюнхен 1972</h1>
            <br /><br />

            <img src="~/Fotos/57979b0d7dca1.jpg" /><br /><br />

            Двадесетите летни олимпийски игри се провеждат в Мюнхен, Германия от 26 август до 11 септември 1972 г. Другите градове, кандидатирали се за домакини, са Детройт, Мадрид и Монреал.<br /><br />

            Олимпиадата е белязана от мюнхенското клане. Въпреки терористичния акт, игрите са прекъснати само за 34 часа. Президентът на МОК Ейвъри Бръндидж става известен с речта си, в която казва „Игрите трябва да продължат“. След Мюнхенското клане седемкратният олимпийски шампион от Игрите по плуване Марк Шпиц напуска Мюнхен и се прибира в САЩ с цел осигуряването на неговата сигурност, понеже изповядва юдаизъм. Египетският отбор също напуска Мюнхен.<br /><br />

            Олимпиадата е наблюдавана от почти един милиард души по телевизията, което е рекорд за телевизионно предаване до този момент. За осъществяването на предаването са използвани четири сателита, а програмата е с дължина близо 1200 часа (75 денонощия при 16-дневна олимпиада). Отразяването на Игрите струва на 100 милиона германски марки. Възможно е телевизионното предаване на 13 различни състезания и 60 различни коментатора. По западногерманската телевизия са излъчени 230 часа от Игрите (над 14 часа дневно). Следва телевизията на ГДР с 225 и „Би Би Си“ със 170.<br /><br />

            Американският плувец Марк Шпиц печели седем златни медала и поставя седем световни рекорда. Медийната звезда на Олимпиадата е съветската гимнастичка Олга Корбут.<br /><br />
            За пръв път на олимпиада има клетва на съдиите.<br /><br />
            За първи път САЩ губи златото в баскетбола, а финалът на баскетболния турнир между САЩ и СССР се превръща в най-голямото зрелище на Олимпиадата.<br /><br />
            Това са първите олимпийски игри, в които участват отделни отбори на Федерална република Германия и Германската демократична република. Според анализ на „Ди Цайт“ в този момент западногерманците са приели разделението на страните.<br /><br />
            Половината от разходите за организирането на Олимпиадата са платени от германското федерално правителство, а Бавария и град Мюнхен покриват по една четвърт от тях. За олимпийските игри за построени и модернизирани над 60 обекта, сред които са олимпийското село, стадион, многофункционален спортен център, спортен комплекс, басейн, колодрум и пресцентър.<br /><br />

            МЮНХЕН 1972:Българските спортисти се състезават в 1 спорта и печелят 6 златни медала - боксьорът Георги Костадинов,щангистите Нораир Нурикян,Йордан Биков и Антон Николов, борците Петър Киров и Георги Мърков.<br />Вицешампиони са борците Огнян Николов,Осман Дуралиев,Стоян Апостолов и Александър Томов,лекоатлетките Диана Йоргова и Йорданка Благоева.<br />Бронзови медалисти са борците Стефан Ангелов и Иван Кръстев,лекоатлетите Иванка Христова и Василка Стоева,двойка кануисти Иван Бурчин и Федя Дамянов.<br />България печели 21 медала и се класира на 9 място в общото класиране по медали.<br /><br /><br />

            <br /> <br /> <a href="http://localhost:62110/">Назад</a>
        </div>
</div>
